.header{
    color: white;
    background-color: teal;
  
}

.row {
    background-color: white;
    color: teal;
    background-image: url(tropical-leaves-background_46250-1873.jpg);
    

}

.text {
    float: right;

}
.col-md-8 {
    text-align: center;
    color: white;
    padding: 10px;
    margin left: auto;
    margin right: auto;
}
 
}