.header{
    color: red;
    background-color: teal;
  
}
.row {
    background-color: white;
    color: teal;

}

.text {
    float:right;

}
.card-image-top anita {
    height: 300px; width: 250 px;
}